/* --------------- Text color --------------- */
/* --------------- Text color --------------- */
body, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body nav.navbar {
  font-weight: normal;
}
body nav.navbar.fixed-top {
  min-height: 62px;
}
body nav.navbar.fixed-top.bg-red {
  background-color: #B7274B;
}
body nav.navbar.fixed-top .navbar-brand {
  font-size: 16px;
}
body nav.navbar.fixed-top .btn.btn-outline-white {
  border: solid 1px #FFF !important;
}
@media screen and (max-width: 767px) {
  body nav.navbar.fixed-top .actions {
    display: none;
  }
}
body nav.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #FAFAFA;
  z-index: 1020;
  -webkit-transition: width .25s ease-in-out, padding .25s ease-in-out;
  transition: width .25s ease-in-out, padding .25s ease-in-out;
}
body nav.navbar.fixed-left .navbar-nav {
  position: absolute;
  top: 80px;
}
body nav.navbar.fixed-left .navbar-nav.navbar-bottom {
  top: unset;
  bottom: 10px;
}
body nav.navbar.fixed-left .nav-item.actions {
  display: none;
}
body nav.navbar.fixed-left .nav-item .nav-link {
  color: #757575;
}
body nav.navbar.fixed-left .nav-item .nav-link:hover {
  color: #B7274B;
}
body nav.navbar.fixed-left .nav-item .nav-link span {
  vertical-align: bottom;
  margin-right: 15px;
  -webkit-transition: opacity .15s ease-in-out .15s, max-height 0s linear .25s;
  transition: opacity .15s ease-in-out .15s, max-height 0s linear .25s;
  display: block;
  float: left;
  max-height: 50px;
}
body nav.navbar.fixed-left .nav-item .nav-link span.material-icons {
  -webkit-transition: font-size .25s ease-in-out, padding .25s ease-in-out;
  transition: font-size .25s ease-in-out, padding .25s ease-in-out;
}
body nav.navbar.fixed-left .nav-item.active .nav-link {
  color: #B7274B;
}
body nav.navbar.fixed-left.compact {
  width: 62px;
}
body nav.navbar.fixed-left.compact .nav-item .nav-link span:not(.material-icons) {
  visibility: hidden;
  height: 0;
  opacity: 0;
  max-height: 0;
}
body nav.navbar.fixed-left.compact .nav-item .nav-link span.material-icons {
  font-size: 30px;
  padding: 5px 0;
}
@media screen and (max-width: 767px) {
  body nav.navbar.fixed-left {
    width: 300px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: left .25s ease-in-out;
    transition: left .25s ease-in-out;
  }
  body nav.navbar.fixed-left .navbar-nav {
    width: calc(100% - 30px);
  }
  body nav.navbar.fixed-left .navbar-nav .nav-item.actions {
    display: block;
    margin-top: 5px;
  }
  body nav.navbar.fixed-left .navbar-nav .nav-item .nav-link[data-toggle='modal'] {
    display: block;
  }
  body nav.navbar.fixed-left .navbar-nav .nav-item .nav-link.btn-white {
    color: #B7274B;
  }
  body nav.navbar.fixed-left .navbar-nav .nav-item .nav-link.btn-red {
    color: #FFF;
  }
  body nav.navbar.fixed-left.compact {
    width: 300px;
    left: -300px;
  }
  body nav.navbar.fixed-left.compact .nav-item .nav-link span:not(.material-icons) {
    visibility: visible;
    opacity: 1;
    max-height: 50px;
  }
  body nav.navbar.fixed-left.compact .nav-item .nav-link span.material-icons {
    font-size: 24px;
    padding: 0;
  }
}
body.modal-open nav.navbar {
  padding-right: 16px !important;
}
body.modal-open nav.navbar .navbar-nav.mr-right {
  padding-right: 17px;
}

body {
  margin-top: 62px;
  overflow-x: hidden;
  position: relative;
}
body.no-scroll {
  overflow: hidden;
}
body.no-scroll.desktop {
  padding-right: 17px;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open.desktop {
  padding-right: 17px !important;
}
body main {
  min-height: calc(100vh - (33px + 62px));
}
body .btn {
  border-radius: 6px;
  text-transform: none;
  font-size: 16px;
  padding: 10px 24px !important;
}
body .btn.btn-red {
  background-color: #B7274B !important;
}
body .btn.btn-white {
  color: #B7274B;
}
body a {
  color: #B7274B;
}
body a:hover {
  color: #631529;
}
body .modal.custom-modal .modal-header {
  background-color: #B7274B !important;
  color: #FFF;
}
body .modal.custom-modal .modal-header .close {
  color: #FFF;
}
body .modal.custom-modal .modal-body {
  padding-bottom: 0;
}
body .modal.custom-modal .modal-body label {
  line-height: 24px;
}
body .modal.custom-modal .modal-body label span.quantity {
  color: #B7274B;
  font-size: 24px;
  margin-left: 15px;
}
body .modal.custom-modal .modal-footer {
  border-top: none;
}
body .modal.custom-modal form input:not([type="range"]), body .modal.custom-modal form textarea {
  border: solid 1px #e4e5ea;
  padding: 17px 16px;
  color: #000;
}
body .modal.custom-modal form input:not([type="range"]):-webkit-autofill, body .modal.custom-modal form textarea:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
body .modal.custom-modal form input {
  height: 50px;
}
body .modal.custom-modal#driverModal .modal-body {
  color: #757575;
  padding-top: 0;
}
body .modal.custom-modal#driverModal .modal-body .activityBox {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 30px;
}
body .modal.custom-modal#driverModal .modal-body .activityBox:not(:last-child) {
  border-bottom: solid 1px #E4E5EA;
}
body .modal.custom-modal#driverModal .modal-body .activityBox span {
  color: #B7274B;
}
body .modal.custom-modal#driverModal .modal-body .activityBox a {
  color: #757575;
}
body .modal.custom-modal#driverModal .modal-body .activityBox a:hover {
  color: #B7274B;
}
body .modal.custom-modal#driverModal .modal-footer {
  border-top: solid 1px #E4E5EA;
}
body .mainInfo, body .errorInfo {
  text-align: center;
}
body .mainInfo h1, body .errorInfo h1 {
  margin: 50px 0;
  text-align: center;
}
body .container.main h2 {
  text-align: center;
}
body .toastContainer {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1065;
}
body .toastContainer .kjtoast {
  position: relative;
  cursor: pointer;
}
body .hidden {
  display: none;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body .img-responsive {
  max-height: 100%;
  max-width: 100%;
}
body .not-visible {
  background: transparent !important;
  color: transparent !important;
  position: absolute;
}
body .not-visible:hover, body .not-visible:active, body .not-visible:focus {
  background: transparent !important;
  color: transparent !important;
}
body #loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1055;
}
body #loading .spin {
  border: 16px solid #DDD;
  border-radius: 50%;
  border-top: 16px solid #3498DB;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%);
  }
}
footer {
  width: 100%;
  background: #FFF;
  color: #000;
  text-align: center;
  padding: 6px 0;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  position: relative;
  z-index: 1010;
}
footer a {
  text-decoration: none;
  color: #007BFF;
}
footer a:hover {
  color: #0056b3;
}

/* ---------------- Checkbox ---------------- */
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.form-check-input[type=checkbox], .form-check-input[type=radio], label.btn input[type=checkbox], label.btn input[type=radio] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.form-check-input[type=checkbox] + label, .form-check-input[type=radio] + label, label.btn input[type=checkbox] + label, label.btn input[type=radio] + label {
  position: relative;
  padding-left: 2.19rem;
  cursor: pointer;
  display: inline-block;
  height: 1.57rem;
  line-height: 1.57rem;
  font-size: 1rem;
}

.md-form label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #757575;
}

.form-check-input[type=checkbox] + label:before, label.btn input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-check-input[type=checkbox]:checked + label:before, label.btn input[type=checkbox]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4285f4 #4285f4 transparent;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

/* ---------------- Checkbox ---------------- */
/* ------------------ Radio ----------------- */
.form-check-input[type=radio]:checked + label, .form-check-input[type=radio]:not(:checked) + label, label.btn input[type=radio]:checked + label, label.btn input[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-check-input[type=radio]:checked + label:before, label.btn input[type=radio]:checked + label:before {
  border: 2px solid transparent;
}

.form-check-input[type=radio] + label:after, .form-check-input[type=radio] + label:before, label.btn input[type=radio] + label:after, label.btn input[type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.form-check-input[type=radio]:checked + label:after, label.btn input[type=radio]:checked + label:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio]:checked + label:after {
  background-color: #4285f4;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after {
  border: 2px solid #4285f4;
}

.form-check-input[type=radio] + label:after, .form-check-input[type=radio] + label:before, label.btn input[type=radio] + label:after, label.btn input[type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border: 2px solid #000;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, .form-check-input[type=radio]:checked + label:before, .form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after, label.btn input[type=radio]:checked + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border-radius: 50%;
}

.form-check-input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border: 2px solid #000;
}

/* ------------------ Radio ----------------- */
/* ----------------- Switch ----------------- */
.switch label {
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch.primary-switch label input[type=checkbox]:checked + .lever {
  background-color: #689DF6;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #a6c;
  left: 24px;
}

.switch.primary-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #4285F4;
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #f1f1f1;
  border-radius: 21px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  -webkit-transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease;
}

/* ----------------- Switch ----------------- */
/* ---------------- DropDown ---------------- */
.dropdown-divider {
  margin: 0 0 .5rem;
}

nav.navbar .dropdown-menu {
  padding-bottom: 0;
}

.dropdown-menu .dropdown-item.active {
  background: #F3F3F3;
}
.dropdown-menu .dropdown-item.current {
  font-weight: bold;
}

/* ---------------- DropDown ---------------- */
/* --------------- Text color --------------- */
.primary-text {
  color: #4285F4;
}

.danger-text {
  color: #FF3547;
}

.warning-text {
  color: #FF8800;
}

.success-text {
  color: #00C851;
}

.info-text {
  color: #33B5E5;
}

.default-text {
  color: #2BBBAD;
}

.secondary-text {
  color: #AA66CC;
}

/* --------------- Text color --------------- */
/* ----------- Animated hamburger ----------- */
/* Icon 1 */
.navbar-toggler .animated-icon {
  width: 20px;
  height: 15px;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.navbar-toggler .animated-icon span {
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
.navbar-toggler .animated-icon span:nth-child(1) {
  top: 0;
}
.navbar-toggler .animated-icon span:nth-child(2) {
  top: 6px;
}
.navbar-toggler .animated-icon span:nth-child(3) {
  top: 12px;
}

.navbar-dark .navbar-toggler .animated-icon span {
  background: rgba(255, 255, 255, 0.9);
}

/* ----------- Animated hamburger ----------- */
.wow {
  visibility: hidden;
}

.md-form .validate {
  margin-bottom: 0;
}
.md-form label:after {
  margin-top: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.md-form [required] + label:before {
  content: '*';
  color: #E00;
  float: right;
  position: relative;
  top: -2px;
  font-size: .9rem;
}

/* ----------- Display headers ----------- */
@media (max-width: 576px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.0;
  }
}
/* ----------- Display headers ----------- */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
body.map #map {
  width: 100%;
  height: calc(100vh - 97px);
  font-family: inherit;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper {
  border-radius: 0;
  padding: 0;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
  width: 400px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup {
  margin: 0;
  font-size: 16px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .title {
  background: #B7274B;
  color: #FFF;
  font-size: 20px;
  line-height: 20px;
  padding: 14px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .userInfo {
  color: #757575;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .userInfo .name {
  color: #B7274B;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .bascinetMaterial {
  color: #000;
  line-height: 30px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .bascinetMaterial span {
  color: #B7274B;
  font-size: 30px;
  float: right;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup hr {
  width: calc(100% + 30px);
  margin-left: -15px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup input, body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup select {
  border: solid 1px #e4e5ea;
  padding-left: 16px;
  height: 50px;
  color: #000;
  cursor: pointer;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup input[readonly], body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup select[readonly] {
  border: solid 1px #e4e5ea;
  background: transparent;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup .btn-white {
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup.pin label[for="quantity"] {
  line-height: 24px;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup.pin label[for="quantity"] span {
  color: #B7274B;
  font-size: 24px;
  vertical-align: bottom;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup.pin input[type="range"] {
  border: none;
  padding: 0;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-content-wrapper .leaflet-popup-content .popup.pin input[type="range"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.map #map .leaflet-popup.customPopup .leaflet-popup-close-button {
  padding: 0;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
body.map .legend {
  position: fixed;
  bottom: 35px;
  width: calc(100% - 62px);
  z-index: 1010;
  background-color: #FAFAFA;
  margin-left: 62px;
  padding: 0 30px;
  text-align: right;
}
body.map .legend .element {
  display: inline-block;
  color: #757575;
  line-height: 66px;
}
body.map .legend .element .circle {
  border: 14px solid;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 0 10px;
}
body.map .legend .element.frozen .circle {
  border-color: #BCBCBC;
}
body.map .legend .element.material .circle {
  border-color: #FF8F00;
}
body.map .legend .element.bascinet .circle {
  border-color: #01AB6E;
}
body.map .legend .element.both .circle {
  border-top-color: #01AB6E;
  border-right-color: #01AB6E;
  border-left-color: #FF8F00;
  border-bottom-color: #FF8F00;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
body.map .legend .element.hospital .circle {
  border-color: #B7274B;
}
body.map .legend .element.magazine .circle {
  border-color: #00A0FF;
}
@media screen and (max-width: 767px) {
  body.map .legend {
    margin: 0;
    padding: 5px 0;
    width: 100%;
  }
  body.map .legend .element {
    font-size: 12px;
    line-height: 12px;
  }
  body.map .legend .element .circle {
    border: 8px solid;
    margin: 0 15px 0 5px;
  }
}

body.error, body.construction, body.noaccess {
  margin: 0;
}
body.error main, body.construction main, body.noaccess main {
  margin: 0;
}
body.error .errorInfo, body.construction .errorInfo, body.noaccess .errorInfo {
  min-height: calc(100vh - 33px);
  text-align: center;
  background: center;
  background-size: cover;
}
body.error .errorInfo h1, body.error .errorInfo h2, body.construction .errorInfo h1, body.construction .errorInfo h2, body.noaccess .errorInfo h1, body.noaccess .errorInfo h2 {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 30px;
  color: #CCC;
  display: inline-block;
}
body.error .errorInfo h1, body.construction .errorInfo h1, body.noaccess .errorInfo h1 {
  margin-top: 50px;
}
body.construction .errorInfo h1 {
  margin-top: 100px;
}
body.noaccess .errorInfo {
  background-position: top;
}
body.noaccess .errorInfo h1 {
  margin-top: 40vh;
}

body.trips .container .feed .activityBox.trip {
  border-left: none;
  margin-bottom: 10px;
}
body.trips .container .feed .activityBox.trip .content {
  padding: 20px 10px;
}
body.trips .container .feed .activityBox.trip .content .text {
  padding: 0 15px;
}
body.trips .container .feed .activityBox.trip .content .button {
  padding: 0 15px;
}
body.trips .container .feed p.no-frozen {
  color: #757575;
}

body.index .container .numbers .numberBox .number, body.trips .container .numbers .numberBox .number {
  font-size: 30px;
  color: #B7274B;
}
body.index .container .numbers .numberBox .description, body.trips .container .numbers .numberBox .description {
  font-size: 12px;
}
body.index .container .title, body.trips .container .title {
  color: #B7274B;
}
body.index .container .feed .activityBox, body.trips .container .feed .activityBox {
  background: #FAFAFA;
  border-left: 5px solid;
  margin-bottom: 2px;
}
body.index .container .feed .activityBox.action, body.trips .container .feed .activityBox.action {
  border-color: #B7274B;
}
body.index .container .feed .activityBox.notification, body.trips .container .feed .activityBox.notification {
  border-color: #000;
}
body.index .container .feed .activityBox .content, body.trips .container .feed .activityBox .content {
  padding: 5px 10px;
}
body.index .container .feed .activityBox .content .text, body.trips .container .feed .activityBox .content .text {
  font-size: 16px;
  color: #757575;
  display: inline-block;
  margin-right: auto;
  padding: 5px 0;
}
body.index .container .feed .activityBox .content .text span, body.trips .container .feed .activityBox .content .text span {
  color: #B7274B;
}
body.index .container .feed .activityBox .content .text a, body.trips .container .feed .activityBox .content .text a {
  color: #757575;
}
body.index .container .feed .activityBox .content .text a:hover, body.trips .container .feed .activityBox .content .text a:hover {
  color: #B7274B;
}
body.index .container .feed .activityBox .content .button, body.trips .container .feed .activityBox .content .button {
  padding: 0;
  text-align: right;
}
body.index .container .feed .activityBox .content .btn.btn-transparent, body.trips .container .feed .activityBox .content .btn.btn-transparent {
  color: #B7274B;
  -webkit-box-shadow: none;
          box-shadow: none;
}
body.index .container .feed .activityBox .content .date, body.trips .container .feed .activityBox .content .date {
  font-size: 10px;
  padding: 5px 0;
  color: #757575;
}

body.address .container p, body.settings .container p {
  font-weight: normal;
}
body.address .container form.settings input[type="radio"]:checked + label.type, body.address .container form.address input[type="radio"]:checked + label.type, body.settings .container form.settings input[type="radio"]:checked + label.type, body.settings .container form.address input[type="radio"]:checked + label.type {
  color: #FFF;
  background: #B7274B;
}
body.address .container form.settings input[type="radio"]:checked + label.type svg path, body.address .container form.address input[type="radio"]:checked + label.type svg path, body.settings .container form.settings input[type="radio"]:checked + label.type svg path, body.settings .container form.address input[type="radio"]:checked + label.type svg path {
  fill: #FFF !important;
}
body.address .container form.settings label.type, body.address .container form.address label.type, body.settings .container form.settings label.type, body.settings .container form.address label.type {
  display: block;
  border: solid 2px #B7274B;
  border-radius: 6px;
  color: #B7274B;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: calc(50% - 30px);
  margin: 0 15px;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
body.address .container form.settings label.type svg, body.address .container form.address label.type svg, body.settings .container form.settings label.type svg, body.settings .container form.address label.type svg {
  width: 3rem;
  height: 5rem;
  padding: 20px 0;
}
body.address .container form.settings label.type svg path, body.address .container form.address label.type svg path, body.settings .container form.settings label.type svg path, body.settings .container form.address label.type svg path {
  fill: #B7274B !important;
}
body.address .container form.settings label.type p, body.address .container form.address label.type p, body.settings .container form.settings label.type p, body.settings .container form.address label.type p {
  font-weight: bold;
}
body.address .container form.settings input, body.address .container form.address input, body.settings .container form.settings input, body.settings .container form.address input {
  border: solid 1px #e4e5ea;
  padding: 17px 16px;
  height: 50px;
  color: #000;
}
body.address .container form.settings input:-webkit-autofill, body.address .container form.address input:-webkit-autofill, body.settings .container form.settings input:-webkit-autofill, body.settings .container form.address input:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
body.address .container form.settings #addressMap, body.address .container form.address #addressMap, body.settings .container form.settings #addressMap, body.settings .container form.address #addressMap {
  height: 400px;
  border-radius: 4px;
}
body.address .container form.settings #addressMap.loading + .load, body.address .container form.address #addressMap.loading + .load, body.settings .container form.settings #addressMap.loading + .load, body.settings .container form.address #addressMap.loading + .load {
  display: block;
}
body.address .container form.settings .load, body.address .container form.address .load, body.settings .container form.settings .load, body.settings .container form.address .load {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 400;
}
body.address .container form.settings .load img, body.address .container form.address .load img, body.settings .container form.settings .load img, body.settings .container form.address .load img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body.register {
  margin: 0;
  min-height: unset;
}
body.register .container-fluid .pinky {
  min-height: calc(100vh - 33px);
  background: rgba(183, 39, 75, 0.08);
}
body.register .container-fluid .leftContainer, body.register .container-fluid .rightContainer {
  padding-top: 140px;
}
@media screen and (max-width: 767px) {
  body.register .container-fluid .leftContainer, body.register .container-fluid .rightContainer {
    padding-top: 30px;
  }
}
body.register .container-fluid .leftContainer:not(.current) {
  display: none;
}
body.register .container-fluid .leftContainer .title {
  color: #B7274B;
}
body.register .container-fluid .leftContainer .title, body.register .container-fluid .leftContainer p, body.register .container-fluid .leftContainer label, body.register .container-fluid .leftContainer a {
  font-weight: 400;
}
body.register .container-fluid .leftContainer input {
  border: none;
  padding: 17px 16px;
  height: 50px;
  color: #000;
}
body.register .container-fluid .leftContainer input:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
body.register .container-fluid .leftContainer a {
  color: #B7274B;
}
body.register .container-fluid .leftContainer a:hover {
  color: #631529;
}
body.register .container-fluid .leftContainer .btn-red {
  width: 100%;
  display: block;
}
body.register .container-fluid .leftContainer hr {
  margin: 40px 0;
}
@media screen and (max-width: 767px) {
  body.register .container-fluid .rightContainer {
    padding-bottom: 30px;
  }
}
body.register .container-fluid .rightContainer .img-logo {
  width: 5rem;
}
body.register .container-fluid .rightContainer h4 {
  font-weight: bold;
}
body.register .container-fluid .rightContainer p {
  color: #747D8C;
}
body.register .container-fluid .rightContainer p.number {
  font-size: 24px;
  color: #2F3542;
}
body.register .container-fluid .rightContainer p.number span {
  font-size: 62px;
  font-weight: bold;
  color: #B7274B;
}
body.register .google, body.register .facebook {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}
body.register .google img, body.register .facebook img {
  max-width: 26px;
  margin: -5px 5px -5px -10px;
}
body.register .google {
  color: #000;
}
body.register .google:hover {
  color: #000;
}
body.register .facebook {
  color: #FFF;
}
body.register .facebook:hover {
  color: #FFF;
}

@-webkit-keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}

@keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}
body.settings .container .alert {
  margin-bottom: -20px;
}
body.settings .container form.settings label {
  font-size: 12px;
  margin-bottom: 4px;
}
body.settings .container form.settings input[readonly] {
  background: transparent;
  border: none;
  padding-left: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
body.settings .container form.settings .title {
  color: #B7274B;
  font-weight: normal;
}
body.settings .container form.settings [type='submit'], body.settings .container form.settings .cancel {
  display: none;
}
body.settings .container #addressMap {
  height: 300px;
  border-radius: 4px;
}

body.privileges .select2-container {
  color: #000;
}
body.privileges .select2-container .select2-selection {
  padding: .375rem .75rem;
  height: unset;
  font-weight: 400;
}
body.privileges .select2-container .select2-selection .select2-selection__rendered {
  padding-left: 4px;
}
body.privileges .select2-container .select2-selection .select2-selection__rendered .select2-selection__placeholder {
  color: #495057;
}
body.privileges .select2-container .select2-selection .select2-selection__arrow {
  height: 100%;
}
body.privileges .select2-container .select2-selection .select2-selection__arrow b {
  border-color: #495057 transparent transparent transparent;
}
body.privileges .select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #495057 transparent;
}

/*# sourceMappingURL=styles.css.map */