/* --------------- Text color --------------- */
/* --------------- Text color --------------- */
body {
  background: #FFF;
  color: #212529;
  overflow-x: hidden;
  margin-top: 64px;
  position: relative;
  min-height: calc(100vh - 64px);
}
body[style^='background-image: url'] {
  background: fixed center top no-repeat;
  background-size: cover;
}
body .ui-helper-hidden-accessible {
  display: none;
}
body .wfi {
  position: fixed;
  z-index: 1040;
  top: 30vh;
  left: 0;
  width: 100%;
  text-align: center;
  display: none;
  -webkit-transition: -webkit-transform 4.5s ease-in-out;
  transition: -webkit-transform 4.5s ease-in-out;
  transition: transform 4.5s ease-in-out;
  transition: transform 4.5s ease-in-out, -webkit-transform 4.5s ease-in-out;
}
body .wfi.scaled {
  -webkit-transform: scale(10);
          transform: scale(10);
}
body main {
  min-height: calc(100vh - (83px + 64px));
}
@media only screen and (max-width: 992px) {
  body nav.navbar.scrolling-navbar {
    -webkit-transition: padding-right 0s;
    transition: padding-right 0s;
  }
}
@media only screen and (max-width: 1199px) {
  body.collapsed {
    overflow: hidden;
  }
  body.collapsed.desktop {
    padding-right: 17px;
  }
  body.collapsed.desktop nav.navbar.scrolling-navbar {
    padding-right: 33px;
  }
}
body.no-scroll {
  overflow: hidden;
}
body.no-scroll.desktop {
  padding-right: 17px;
}
body.no-scroll.desktop nav.navbar.scrolling-navbar {
  padding-right: 33px;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open.desktop {
  padding-right: 17px !important;
}
body.modal-open nav.navbar {
  padding-right: 16px !important;
}
body.modal-open nav.navbar .navbar-nav.mr-right {
  padding-right: 17px;
}
body table.table {
  color: #212529;
}
body table.table a {
  color: #212529;
}
body table.table a:hover {
  color: #0a0c0d;
}
body table.table tr:last-child td, body table.table tr:last-child th {
  border-bottom: 1px solid #454D55;
}
body .mainInfo h1, body .errorInfo h1 {
  margin: 50px 0;
  text-align: center;
}
body nav.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 1200px) {
  body nav.navbar nav.navbar .collapse.show {
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  body nav.navbar .navbar-nav .nav-item.comp-name {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 22%);
            transform: translate(-50%, 22%);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  body nav.navbar .navbar-nav .nav-item.comp-name .nav-link:hover {
    opacity: 1 !important;
    color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  body nav.navbar .navbar-nav .nav-item .nav-link {
    height: 44px;
    line-height: 28px;
  }
}
@media screen and (max-width: 1199px) {
  body nav.navbar {
    overflow-y: auto;
  }
  body nav.navbar .navbar-collapse ul:last-child {
    height: calc(100vh - 330px);
  }
  body nav.navbar .navbar-collapse ul:first-child .nav-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  body nav.navbar .navbar-collapse .nav-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  body nav.navbar .navbar-collapse .nav-item .nav-link {
    padding: 14px 10px;
  }
}
body nav.navbar .img-nav {
  height: 30px;
  margin-right: 5px;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
}
body nav.navbar.scrolling-navbar {
  padding-top: 7px;
  padding-bottom: 7px;
}
body nav.navbar.scrolling-navbar .img-nav {
  height: 40px;
}
body nav.navbar.scrolling-navbar.top-nav-collapse .img-nav {
  height: 30px;
}
@media screen and (min-width: 1200px) {
  body nav.navbar.scrolling-navbar.top-nav-collapse .nav-item.comp-name {
    -webkit-transform: translate(-50%, 11%);
            transform: translate(-50%, 11%);
  }
}
body nav.navbar .profile .dropdown-menu, body nav.navbar .notifications .dropdown-menu {
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}
@media screen and (min-width: 1200px) {
  body nav.navbar .profile .dropdown-menu, body nav.navbar .notifications .dropdown-menu {
    -webkit-transform: initial;
            transform: initial;
    left: 0;
  }
}
body nav.navbar .notifications .dropdown-menu {
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
}
@media screen and (min-width: 1200px) {
  body nav.navbar .notifications .dropdown-menu {
    width: 250px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
body nav.navbar .notifications .dropdown-menu .dropdown-item {
  white-space: inherit;
}
body nav.navbar .dropdown-menu .dropdown-item:active:focus {
  color: #DDD !important;
}
body nav .pagination {
  text-align: center;
  display: block;
  margin: 16px auto;
}
body nav .pagination .page-item {
  display: inline-block;
}
body nav .pagination .page-item.active .page-link {
  cursor: default;
}
body nav #notifications span.num {
  font-size: 10px;
  background: var(--red);
  color: #FFF;
  border-radius: 50%;
  width: 15px;
  line-height: 15px;
  position: absolute;
  top: 5px;
  right: 20px;
  text-align: center;
  display: none;
}
body nav #notifications span.num.new {
  display: block;
}
@media screen and (min-width: 992px) {
  body nav.navbar .collapse.show {
    height: auto;
  }
}
body #messageList {
  position: fixed;
  top: 0;
  right: -150px;
  width: 190px;
  height: 100vh;
  -webkit-transition: right 250ms ease-in-out;
  transition: right 250ms ease-in-out;
  z-index: 980;
}
body #messageList .hover, body #messageList .body {
  height: calc(100% - 64px);
  position: absolute;
  top: 0;
  -webkit-box-shadow: -4px 0 11px -2px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 0 11px -2px rgba(0, 0, 0, 0.5);
  background: #FFF;
}
@media screen and (min-width: 1440px) {
  body #messageList .hover, body #messageList .body {
    background: rgba(255, 255, 255, 0.5);
  }
}
body #messageList .hover {
  height: 40px;
  width: calc(100vh - 64px);
  line-height: 40px;
  color: #000;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
  top: calc(50vh + 12px);
  left: calc(-50vh + 52px);
  -webkit-transition: opacity 250ms ease-in-out, width 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
  transition: opacity 250ms ease-in-out, width 500ms ease-in-out, top 500ms ease-in-out, left 500ms ease-in-out;
}
body #messageList .body {
  width: 150px;
  right: 0;
  margin-top: 64px;
  padding-top: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: margin-top 500ms ease-in-out;
  transition: margin-top 500ms ease-in-out;
  -webkit-box-shadow: -4px 0 11px -2px rgba(0, 0, 0, 0.5);
          box-shadow: -4px 0 11px -2px rgba(0, 0, 0, 0.5);
}
body #messageList .body a {
  display: block;
  padding: 10px;
  font-size: .9375rem;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  margin: 4px 0;
}
body #messageList .body a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #DDD;
}
body #messageList:hover {
  right: 0;
}
body #messageList:hover .hover {
  opacity: 0;
}
body .top-nav-collapse + #messageList .hover {
  width: calc(100vh - 52px);
  top: calc(50vh + 8px);
  left: calc(-50vh + 46px);
}
body .top-nav-collapse + #messageList .body {
  margin-top: 54px;
  height: calc(100% - 64px);
}
body .parallax {
  margin: 0 0 30px;
  height: calc(100vh - 64px);
  background: fixed center top no-repeat;
  background-size: cover;
  position: relative;
}
body .parallax.errorInfo {
  margin: 0;
  background-position: center;
}
body .parallax .downArrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
body .parallax .downArrow img {
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
body .mainInfo, body .errorInfo {
  text-align: center;
}
body .mainInfo.parallax h1, body .mainInfo.parallax h2, body .errorInfo.parallax h1, body .errorInfo.parallax h2 {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 30px;
  display: inline-block;
}
body .mainInfo.parallax h1, body .errorInfo.parallax h1 {
  margin-top: 27vh;
}
body .errorInfo.parallax h1 {
  margin-top: 50px;
}
body.hasParallax {
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  body.hasParallax nav.navbar:not(.top-nav-collapse) {
    background-color: transparent !important;
  }
  body.hasParallax nav.navbar:not(.top-nav-collapse) .navbar-brand, body.hasParallax nav.navbar:not(.top-nav-collapse) .nav-item .nav-link {
    color: #FFF !important;
  }
  body.hasParallax nav.navbar:not(.top-nav-collapse) .nav-item:not(.active) .nav-link:hover {
    opacity: .75;
  }
  body.hasParallax nav.navbar:not(.top-nav-collapse) .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
body.hasParallax .mainInfo.parallax {
  height: 100vh;
}
body.hasParallax .mainInfo.parallax h1 {
  margin-top: 30vh;
  font-weight: 400;
}
body .container.main h2 {
  text-align: center;
}
body .toastContainer {
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1065;
}
body .toastContainer .kjtoast {
  position: relative;
  cursor: pointer;
}
body .hidden {
  display: none;
}
body .left {
  float: left;
}
body .right {
  float: right;
}
body .col-centered {
  float: none;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  body .col-md-centered {
    float: none;
    margin: 0 auto;
  }
}
body .img-responsive {
  max-height: 100%;
  max-width: 100%;
}
body .img-circle {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin: 0 auto;
  height: 1.4rem;
  width: 1.4rem;
  text-align: center;
  -o-object-fit: cover;
     object-fit: cover;
}
body .img-circle.img-mini {
  width: 1.2rem;
  height: 1.2rem;
}
body .img-circle.img-small {
  vertical-align: sub;
}
body .img-circle.img-menu {
  width: 1.6rem;
  height: 1.6rem;
}
body .img-circle.img-settings {
  height: 3rem;
  width: 3rem;
}
body .img-circle.img-medium {
  height: 5rem;
  width: 5rem;
}
body .img-circle.img-login {
  height: 8rem;
  width: 8rem;
  background: #FFF;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
body .img-circle.no-radius {
  border-radius: unset;
}
body .img-circle .img-responsive {
  max-height: unset;
  vertical-align: unset;
}
body .not-visible {
  background: transparent !important;
  color: transparent !important;
  position: absolute;
}
body .not-visible:hover, body .not-visible:active, body .not-visible:focus {
  background: transparent !important;
  color: transparent !important;
}
body #surpriseModal .img-responsive, body #cheatingModal .img-responsive {
  display: block;
  margin: 0 auto;
}
body #hiddenPicTrigger {
  background: transparent;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1000;
}
body #loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1055;
}
body #loading .spin {
  border: 16px solid #DDD;
  border-radius: 50%;
  border-top: 16px solid #3498DB;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) translate(-50%, -50%);
            transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotate(360deg) translate(-50%, -50%);
            transform: rotate(360deg) translate(-50%, -50%);
  }
}
body [class^=srp] {
  pointer-events: none;
}
body [class^=srp].active {
  pointer-events: inherit;
}
body .ccm {
  background: #EEE;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 9999;
  color: #000;
  padding: 3px 0;
}
body .ccm .link {
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  color: #000;
  padding: 5px 8px;
  cursor: default;
}
body .ccm .link:hover {
  background: #BBB;
}
body .ccm [class^=srp] {
  cursor: pointer;
  border: 1px solid var(--blue);
  width: 40px;
  height: 35px;
}

/* ---------------- Checkbox ---------------- */
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}

.form-check-input[type=checkbox], .form-check-input[type=radio], label.btn input[type=checkbox], label.btn input[type=radio] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}

.form-check-input[type=checkbox] + label, .form-check-input[type=radio] + label, label.btn input[type=checkbox] + label, label.btn input[type=radio] + label {
  position: relative;
  padding-left: 2.19rem;
  cursor: pointer;
  display: inline-block;
  height: 1.57rem;
  line-height: 1.57rem;
  font-size: 1rem;
}

.md-form label {
  position: absolute;
  top: .65rem;
  left: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: text;
  color: #757575;
}

.form-check-input[type=checkbox] + label:before, label.btn input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #8a8a8a;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-check-input[type=checkbox]:checked + label:before, label.btn input[type=checkbox]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #4285f4 #4285f4 transparent;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

/* ---------------- Checkbox ---------------- */
/* ------------------ Radio ----------------- */
.form-check-input[type=radio]:checked + label, .form-check-input[type=radio]:not(:checked) + label, label.btn input[type=radio]:checked + label, label.btn input[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form-check-input[type=radio]:checked + label:before, label.btn input[type=radio]:checked + label:before {
  border: 2px solid transparent;
}

.form-check-input[type=radio] + label:after, .form-check-input[type=radio] + label:before, label.btn input[type=radio] + label:after, label.btn input[type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.form-check-input[type=radio]:checked + label:after, label.btn input[type=radio]:checked + label:after {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio]:checked + label:after {
  background-color: #4285f4;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after {
  border: 2px solid #4285f4;
}

.form-check-input[type=radio] + label:after, .form-check-input[type=radio] + label:before, label.btn input[type=radio] + label:after, label.btn input[type=radio] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

.form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border: 2px solid #000;
}

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, .form-check-input[type=radio]:checked + label:before, .form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after, label.btn input[type=radio]:checked + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border-radius: 50%;
}

.form-check-input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.form-check-input[type=radio]:not(:checked) + label:after, .form-check-input[type=radio]:not(:checked) + label:before, label.btn input[type=radio]:not(:checked) + label:after, label.btn input[type=radio]:not(:checked) + label:before {
  border: 2px solid #000;
}

/* ------------------ Radio ----------------- */
/* ----------------- Switch ----------------- */
.switch label {
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 40px;
  height: 15px;
  background-color: #818181;
  border-radius: 15px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch.primary-switch label input[type=checkbox]:checked + .lever {
  background-color: #689DF6;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #a6c;
  left: 24px;
}

.switch.primary-switch label input[type=checkbox]:checked + .lever:after {
  background-color: #4285F4;
}

.switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 21px;
  height: 21px;
  background-color: #f1f1f1;
  border-radius: 21px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -3px;
  -webkit-transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, -webkit-box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease, -webkit-box-shadow .1s ease;
}

/* ----------------- Switch ----------------- */
/* ---------------- DropDown ---------------- */
.dropdown-divider {
  margin: 0 0 .5rem;
}

nav.navbar .dropdown-menu {
  padding-bottom: 0;
}

.dropdown-menu .dropdown-item.active {
  background: #F3F3F3;
}
.dropdown-menu .dropdown-item.current {
  font-weight: bold;
}

/* ---------------- DropDown ---------------- */
/* --------------- Text color --------------- */
.primary-text {
  color: #4285F4;
}

.danger-text {
  color: #FF3547;
}

.warning-text {
  color: #FF8800;
}

.success-text {
  color: #00C851;
}

.info-text {
  color: #33B5E5;
}

.default-text {
  color: #2BBBAD;
}

.secondary-text {
  color: #AA66CC;
}

/* --------------- Text color --------------- */
/* ----------- Animated hamburger ----------- */
/* Icon 1 */
.navbar-toggler .animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0;
  cursor: pointer;
}
.navbar-toggler .animated-icon span {
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
.navbar-toggler .animated-icon span:nth-child(1) {
  top: 0;
}
.navbar-toggler .animated-icon span:nth-child(2) {
  top: 10px;
}
.navbar-toggler .animated-icon span:nth-child(3) {
  top: 20px;
}

.navbar-dark .navbar-toggler .animated-icon span {
  background: rgba(255, 255, 255, 0.9);
}

/* ----------- Animated hamburger ----------- */
.wow {
  visibility: hidden;
}

.md-form .validate {
  margin-bottom: 0;
}
.md-form label:after {
  margin-top: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.md-form [required] + label:before {
  content: '*';
  color: #E00;
  float: right;
  position: relative;
  top: -2px;
  font-size: .9rem;
}

/* ----------- Display headers ----------- */
@media (max-width: 576px) {
  .display-1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.0;
  }

  .display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.0;
  }
}
/* ----------- Display headers ----------- */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
footer {
  width: 100%;
  background: #FFF;
  color: #000;
  text-align: center;
  padding: 6px 0;
  -webkit-box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: #007BFF;
}
footer a:hover {
  color: #0056b3;
}

body.maps #map {
  width: 100%;
  height: calc(100vh - 97px);
}

body.error, body.construction, body.noaccess {
  margin: 0;
}
body.error main, body.construction main, body.noaccess main {
  margin: 0;
}
body.error .errorInfo, body.construction .errorInfo, body.noaccess .errorInfo {
  min-height: calc(100vh - 33px);
  text-align: center;
  background: center;
  background-size: cover;
}
body.error .errorInfo h1, body.error .errorInfo h2, body.construction .errorInfo h1, body.construction .errorInfo h2, body.noaccess .errorInfo h1, body.noaccess .errorInfo h2 {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 30px;
  color: #CCC;
  display: inline-block;
}
body.error .errorInfo h1, body.construction .errorInfo h1, body.noaccess .errorInfo h1 {
  margin-top: 50px;
}
body.construction .errorInfo h1 {
  margin-top: 100px;
}
body.noaccess .errorInfo {
  background-position: top;
}
body.noaccess .errorInfo h1 {
  margin-top: 40vh;
}

body.register {
  margin: 0;
  min-height: unset;
}
body.register main .pinky {
  min-height: calc(100vh - 33px);
  background: rgba(183, 39, 75, 0.08);
}
body.register main .leftContainer, body.register main .rightContainer {
  padding-top: 140px;
}
body.register main .leftContainer.login, body.register main .leftContainer.forgot {
  display: none;
}
body.register main .leftContainer .title {
  color: #B7274B;
}
body.register main .leftContainer .title, body.register main .leftContainer p, body.register main .leftContainer label, body.register main .leftContainer a {
  font-weight: 400;
}
body.register main .leftContainer input {
  border: none;
  padding: 17px 16px;
  height: 50px;
}
body.register main .leftContainer input:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
body.register main .leftContainer a {
  color: #B7274B;
}
body.register main .leftContainer a:hover {
  color: #631529;
}
body.register main .leftContainer .btn-red {
  background-color: #B7274B !important;
  border-radius: 6px;
  width: 100%;
  display: block;
}
body.register main .leftContainer hr {
  margin: 40px 0;
}
body.register main .rightContainer .img-logo {
  width: 5rem;
}
body.register .google, body.register .facebook {
  width: 100%;
  margin: 0;
  border-radius: 10px;
}
body.register .google img, body.register .facebook img {
  max-width: 26px;
  margin: -5px 5px -5px -10px;
}
body.register .google {
  color: #000;
}
body.register .google:hover {
  color: #000;
}
body.register .facebook {
  color: #FFF;
}
body.register .facebook:hover {
  color: #FFF;
}
body.register #logRegTabs {
  width: calc(100% + 32px);
  margin: 0 -16px;
}
body.register #logRegTabs .nav-item {
  width: 50%;
  color: #212529;
  text-align: center;
  text-transform: uppercase;
}
body.register #logRegTabs .nav-item .nav-link {
  color: #212529;
}
body.register #logRegTabs .nav-item:first-of-type .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
}
body.register #logRegTabs .nav-item:last-of-type .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
}
body.register #tabs {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body.register #tabs .tab-pane {
  padding: 30px;
}
body.register #tabs .tab-pane#login .form-check {
  padding-left: 0;
  margin-bottom: 10px;
}
body.register #tabs .tab-pane form [type='submit'] {
  border-radius: 10px;
}
body.register #tabs .tab-pane #addressMap {
  height: 300px;
  border-radius: 4px;
}

@-webkit-keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}

@keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}
body.settings .form .text-input-label {
  line-height: 38px;
  white-space: nowrap;
}
body.settings .form label .col-4 {
  text-align: center;
}
body.settings hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
body.settings hr.divider {
  position: absolute;
  right: 0;
  top: -15px;
  height: 100%;
  border-top: none;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}
body.settings #addressMap {
  height: 300px;
  border-radius: 4px;
}

body.privileges .select2-container {
  color: #000;
}
body.privileges .select2-container .select2-selection {
  padding: .375rem .75rem;
  height: unset;
  font-weight: 400;
}
body.privileges .select2-container .select2-selection .select2-selection__rendered {
  padding-left: 4px;
}
body.privileges .select2-container .select2-selection .select2-selection__rendered .select2-selection__placeholder {
  color: #495057;
}
body.privileges .select2-container .select2-selection .select2-selection__arrow {
  height: 100%;
}
body.privileges .select2-container .select2-selection .select2-selection__arrow b {
  border-color: #495057 transparent transparent transparent;
}
body.privileges .select2-container--open .select2-selection .select2-selection__arrow b {
  border-color: transparent transparent #495057 transparent;
}

/*# sourceMappingURL=styles.css.map */