$border-radius: 10px;

$marginTop: 62px;

body {
  margin-top: $marginTop;
  overflow-x: hidden;
  position: relative;

  &.no-scroll {
    overflow: hidden;

    &.desktop {
      padding-right: 17px;
    }
  }

  &.modal-open {
    overflow: hidden;

    &.desktop {
      padding-right: 17px !important;
    }
  }

  main {
    min-height: calc(100vh - (33px + #{$marginTop}));
  }

  .btn {
    border-radius: 6px;
    text-transform: none;
    font-size: 16px;
    padding: 10px 24px!important;

    &.btn-red {
      background-color: $color-red !important;
    }
    &.btn-white {
      color: $color-red;
    }
  }

  a {
    color: $color-red;
    &:hover {
      color: darken($color-red, 20%);
    }
  }

  .mainInfo, .errorInfo {
    text-align: center;

    h1 {
      margin: 50px 0;
      text-align: center;
    }
  }

  .container.main h2 {
    text-align: center;
  }

  .toastContainer {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1065;

    .kjtoast {
      position: relative;
      cursor: pointer;
    }
  }

  .hidden {
    display: none;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .img-responsive {
    max-height: 100%;
    max-width: 100%;
  }

  .img-circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 auto;
    height: 1.4rem;
    width: 1.4rem;
    text-align: center;
    object-fit: cover;

    &.img-mini {
      width: 1.2rem;
      height: 1.2rem;
    }

    &.img-small {
      vertical-align: sub;
    }

    &.img-menu {
      width: 1.6rem;
      height: 1.6rem;
    }

    &.img-settings {
      height: 3rem;
      width: 3rem;
    }

    &.img-medium {
      height: 5rem;
      width: 5rem;
    }

    &.img-login {
      height: 8rem;
      width: 8rem;
      background: #FFF;
      box-shadow: 0 0 12px rgba(0, 0, 0, .4);
    }

    &.no-radius {
      border-radius: unset;
    }

    .img-responsive {
      max-height: unset;
      vertical-align: unset;
    }
  }

  .not-visible {
    background: transparent !important;
    color: transparent !important;
    position: absolute;

    &:hover, &:active, &:focus {
      background: transparent !important;
      color: transparent !important;
    }
  }

  #loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 1055;

    .spin {
      border: 16px solid #DDD;
      border-radius: 50%;
      border-top: 16px solid #3498DB;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: 0 0;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
      transform: rotate(360deg) translate(-50%, -50%);
    }
  }
}