$blue: #08F;
$red: #E00;
$green: #0C0;

$main-background: #FFF;
$main-color: #212529;

$event-box-shadow: #CCC;
$event-border: #CCC;
$event-color: $main-color;
$event-bg: #FFF;
$event-INPLAY-bg: #DFD;
$event-FINISHED-bg: #F2F2F2;
$event-prediction-success-bg: #AFA;

$settings-drag-border: #AAA;
$settings-drag-color: #FFF;
$settings-drag-bg: rgba(0, 0, 0, .5);
$settings-hr: rgba(0, 0, 0, .3);

$notifications-bg: rgba(0, 0, 0, .1);
$notifications-hover-bg: rgba(0, 0, 0, .15);

$footer-color: #000;
$footer-bg: #FFF;
$footer-a-color: #007BFF;

$parallax-text-bg: rgba(255, 255, 255, .8);

$modal-bg: #f2f2f2;

$table-color: #212529;

/* --------------- Text color --------------- */
$primary-text: #4285F4;
$danger-text: #FF3547;
$warning-text: #FF8800;
$success-text: #00C851;
$info-text: #33B5E5;
$default-text: #2BBBAD;
$secondary-text: #AA66CC;
/* --------------- Text color --------------- */