$blue: darken(#08F, 10%);
$red: darken(#E00, 10%);
$green: darken(#0C0, 10%);

$main-background: #555;
$main-color: #DDD;

$event-box-shadow: #000;
$event-border: #999;
$event-color: #000;
$event-bg: #CCC;
$event-INPLAY-bg: #ACA;
$event-FINISHED-bg: #999;
$event-prediction-success-bg: #7C7;

$settings-drag-border: #DDD;
$settings-drag-color: #DDD;
$settings-drag-bg: rgba(0, 0, 0, .7);
$settings-hr: rgba(255, 255, 255, .3);

$notifications-bg: rgba(255, 255, 255, .3);
$notifications-hover-bg: rgba(255, 255, 255, .5);

$footer-color: #EEE;
$footer-bg: #444;
$footer-a-color: lighten(#007BFF, 15%);

$parallax-text-bg: rgba(0, 0, 0, .8);

$hamburger-color: rgba(255, 255, 255, .9);

$modal-bg: #bfbfbf;

$table-color: #FFF;

/* --------------- Text color --------------- */
$primary-text: #15C;
$danger-text: #C01;
$warning-text: #C50;
$success-text: #092;
$info-text: #08B;
$default-text: #087;
$secondary-text: #739;
/* --------------- Text color --------------- */

body {
  &.index, &.summary, &.change, &.recalculate {
    .eventBox {
      .event {
        input[type='tel'] {
          background: #EEE;
        }
      }
    }
  }

  &.summary {
    .eventsBox {
      .event {
        a {
          color: darken(#007bff, 15%);
          &:hover {
            color: darken(#007bff, 30%);
          }
        }
      }
    }
  }

  &.ranking {
    .rank {
      table {
        .active {
          background-color: rgba(255, 255, 255, .05);
        }

        &.table-hover {
          .active {
            &:hover {
              background-color: rgba(255, 255, 255, .075);
            }
          }
        }
      }
    }
  }

  &.settings {
    .form {
      .login-input {
        input {
          background: $main-background;
          color: $main-color;
        }
      }

      .md-form {
        label, input {
          color: #DDD;
        }
      }
    }
  }

  nav {
    &.navbar {
      .navbar-brand {
        img {
          filter: invert(100%);
        }
      }

      .navbar-nav .nav-item.comp-name {
        .nav-link:hover {
          color: #FFF;
        }
      }
    }

    .pagination.pg-dark {
      .page-item {
        .page-link {
          color: #DDD;

          &:hover {
            color: #333;

            &:focus {
              color: #DDD;
            }
          }

          &:active {
            color: #BBB;
          }
        }

        &.active {
          .page-link {
            &:hover {
              color: #DDD;
            }
          }
        }

        &.disabled {
          .page-link {
            color: #AAA;
          }
        }
      }
    }
  }

  .modal {
    .close {
      color: #DDD;
    }

    .md-form {
      input {
        color: #DDD;
      }

      label {
        color: #CCC;
      }
    }

    table.table tr {
      td, th {
        border-bottom: 1px solid #DDD !important;
        color: #DDD;
      }
    }

    .modal-dialog {
      .modal-content {
        .modal-body {
          color: #DDD;
        }

        background: #666;
      }
    }
  }

  .parallax {
    .downArrow {
      img {
        filter: invert(100%);
      }
    }
  }

  #loading {
    background: rgba(0, 0, 0, .7);

    .spin {
      border: 16px solid #999;
      border-top: 16px solid #15C;
    }
  }

  pre {
    color: #DDD;
  }
}