body.competitions {
  main {
    padding-top: 70px;
  }

  table.table-bordered {
    border-color: #AAA;
  }

  .eventBox {
    margin-top: 15px;
    margin-bottom: 15px;

    .title {
      margin: -4px 0 18px 0;
      text-align: center;
    }

    .event {
      transition: box-shadow .3s ease-in-out;
      background: $event-bg;
      color: $event-color;
      padding: 30px 15px;
      margin: 0;
      box-shadow: 0 0 12px $event-box-shadow;
      border-radius: 4px;
      position: relative;
      min-height: 100%;
      border: none;

      &:focus, &:active {
        outline: none;
        border: none;
      }

      &:hover {
        box-shadow: 0 0 24px $event-box-shadow;
      }

      &[data-name="new"] {
        cursor: pointer;
        min-height: 150px;
        height: 100%;

        &:hover {
          i {
            color: $green;
          }
        }

        &:active {
          i {
            color: $blue;
          }
        }

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 4rem;
        }
      }

      input[type="text"] {
        font-weight: 300;
        font-size: 1.75rem;
        background: none;
        border: none;
        text-align: center;
        max-width: 100%;

        &[readonly] {
          &:focus, &:active {
            outline: none;
            border: none;
          }
        }
      }

      i[data-name] {
        position: absolute;
        top: 8px;
        right: 24px;
        background: rgba(255, 255, 255, .7);
        padding: 5px;
        cursor: pointer;

        &:hover {
          color: $green;
        }

        &:active {
          color: $blue;
        }
      }
    }
  }
}