body {
  &.events, &.recalculate {
    main {
      padding-top: 70px;
    }

    .eventBox {
      margin-top: 15px;
      margin-bottom: 15px;

      .title {
        margin: 10px 0;
      }

      .event {
        transition: box-shadow .3s ease-in-out;
        background: $event-bg;
        color: $event-color;
        padding: 30px 15px;
        margin: 0;
        box-shadow: 0 0 12px $event-box-shadow;
        border-radius: 4px;
        position: relative;
        min-height: calc(100% - 30px);

        &:hover {
          box-shadow: 0 0 24px $event-box-shadow;
        }

        .score_load, .score_save, .score_err {
          position: absolute;
          top: 20px;
          right: 5px;
          display: none;
        }

        .score_load {
          color: $blue;
          animation: spin 2s linear infinite;
          transform-origin: 0 0;
        }

        .score_save, .score_err {
          color: $green;
          transform: translate(-50%, -50%);
        }

        .score_err {
          color: $red;
        }

        .submitBtn {
          text-align: center;
          margin: 20px 0 0;
        }

        .title {
          margin: -15px 0 15px;
          text-align: center;

          &:after {
            content: attr(data-timed);
            display: block;
            text-align: center;
          }
        }

        .team {
          text-align: center;
          position: relative;

          label, label span {
            display: block;
          }

          label.input {
            cursor: pointer;
          }

          .score {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
          }

          input.score {
            width: 50px;
            font-size: 1.75rem;
            line-height: 1.75rem;
            text-align: center;
            cursor: pointer;
            border: 1px solid #AAA;
            margin-top: -5px;
            margin-bottom: 5px;
            display: block;
          }
        }

        &[data-status='IN_PLAY'], &[data-status='DATE'] {
          background: $event-INPLAY-bg;
        }

        &[data-status='FINISHED'] {
          background: $event-FINISHED-bg;
        }
      }
    }
  }
}