body.register {
  margin: 0;
  min-height: unset;

  main {
    .pinky {
      min-height: calc(100vh - 33px);
      background: rgba(183, 39, 75, 0.08);
    }
    .leftContainer, .rightContainer {
      padding-top: 140px;
    }
    .leftContainer {
      &.login, &.forgot {
        display: none;
      }

      .title {
        color: $color-red;
      }

      .title, p, label, a {
        font-weight: 400;
      }

      input {
        border: none;
        padding: 17px 16px;
        height: 50px;
        &:-webkit-autofill {
          animation-name: autofill;
          animation-fill-mode: both;
        }
      }
      a {
        color: $color-red;
        &:hover {
          color: darken($color-red, 20%);
        }
      }
      .btn-red {
        background-color: $color-red!important;
        border-radius: 6px;
        width: 100%;
        display: block;
      }
      hr {
        margin: 40px 0;
      }
    }
    .rightContainer {
      .img-logo {
        width: 5rem;
      }
    }
  }

  .google, .facebook {
    width: 100%;
    margin: 0;
    border-radius: $border-radius;

    img {
      max-width: 26px;
      margin: -5px 5px -5px -10px;
    }
  }

  .google {
    &:hover {
      color: #000;
    }

    color: #000;
  }

  .facebook {
    &:hover {
      color: #FFF;
    }

    color: #FFF;
  }

  #logRegTabs {
    width: calc(100% + 32px);
    margin: 0 -16px;

    .nav-item {
      width: 50%;
      color: $main-color;
      text-align: center;
      text-transform: uppercase;

      .nav-link {
        color: $main-color;
      }

      &:first-of-type {
        .nav-link {
          border-top-left-radius: $border-radius;
          border-top-right-radius: 0;
        }
      }

      &:last-of-type {
        .nav-link {
          border-top-left-radius: 0;
          border-top-right-radius: $border-radius;
        }
      }
    }
  }

  #tabs {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .tab-pane {
      padding: 30px;

      &#login {
        .form-check {
          padding-left: 0;
          margin-bottom: 10px;
        }
      }

      form {
        [type='submit'] {
          border-radius: $border-radius;
        }
      }

      #addressMap {
        height: 300px;
        border-radius: 4px;
      }
    }
  }
}

@keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}