body.register {
  margin: 0;
  min-height: unset;

  .container-fluid {
    .pinky {
      min-height: calc(100vh - 33px);
      background: rgba(183, 39, 75, 0.08);
    }

    .leftContainer, .rightContainer {
      padding-top: 140px;
      @media screen and(max-width: 767px) {
        padding-top: 30px;
      }
    }

    .leftContainer {
      &.login, &.forgot {
        display: none;
      }

      .title {
        color: $color-red;
      }

      .title, p, label, a {
        font-weight: 400;
      }

      input {
        border: none;
        padding: 17px 16px;
        height: 50px;
        color: #000;

        &:-webkit-autofill {
          animation-name: autofill;
          animation-fill-mode: both;
        }
      }

      a {
        color: $color-red;

        &:hover {
          color: darken($color-red, 20%);
        }
      }

      .btn-red {
        width: 100%;
        display: block;
      }

      hr {
        margin: 40px 0;
      }
    }

    .rightContainer {
      @media screen and(max-width: 767px) {
        padding-bottom: 30px;
      }
      .img-logo {
        width: 5rem;
      }
    }
  }

  .google, .facebook {
    width: 100%;
    margin: 0;
    border-radius: $border-radius;

    img {
      max-width: 26px;
      margin: -5px 5px -5px -10px;
    }
  }

  .google {
    &:hover {
      color: #000;
    }

    color: #000;
  }

  .facebook {
    &:hover {
      color: #FFF;
    }

    color: #FFF;
  }
}

@keyframes autofill {
  to {
    color: #495057;
    background: #FFF;
  }
}