body.settings {
  .form {
    .text-input-label {
      line-height: 38px;
      white-space: nowrap;
    }

    label {
      .col-4 {
        text-align: center;
      }
    }
  }

  hr {
    border-top: 1px solid $settings-hr;

    &.divider {
      position: absolute;
      right: 0;
      top: -15px;
      height: 100%;
      border-top: none;
      border-left: 1px solid $settings-hr;
    }
  }

  #addressMap {
    height: 300px;
    border-radius: 4px;
  }
}