body.settings {
  .form {
    .text-input-label {
      line-height: 38px;
      white-space: nowrap;
    }

    .switch {
      label {
        display: flex;

        .lever {
          top: 50%;
          transform: translateY(-80%);
        }

        span[class^="col"] {
          display: inline-block;
        }
      }
    }

    .drag {
      border: 3px dashed $settings-drag-border;
      padding: 8px 17px 0;
      margin: -11px -20px 13px;
      position: relative;
      line-height: 42px;

      &::after {
        content: attr(data-drag);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 999;
        background: $settings-drag-bg;
        left: 0;
        top: 0;
        text-align: center;
        color: $settings-drag-color;
        font-weight: bold;
        padding-top: 10px;
        pointer-events: none;
      }
    }

    select {
      &.color {
        width: 100%;

        &::before {
          content: attr(placeholder);
        }
      }
    }

    label {
      .col-4 {
        text-align: center;
      }

      &[for="avatar"], &.gravatar {
        cursor: pointer;

        .img-circle, i {
          margin-right: 10px;
          vertical-align: middle;
        }

        i {
          height: 48px;
          width: 48px;
          font-size: 48px;
        }

        + .removePic {
          color: $red;
          margin-top: 10px;
          margin-right: 70px;
          @media (max-width: 576px) {
            margin-right: 40px;
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      .login-input {
        padding-top: 6px;
        @media screen and (min-width: 1200px) {
          text-align: right;
        }

        input {
          border: none;
          border-bottom: 1px solid #999;
          width: 149px;
          margin-left: -4px;

          &:focus {
            outline: none;
            border-bottom: 1px solid $main-color;
          }
        }
      }

      &[for="avatar"] {
        @media (max-width: 576px) {
          max-width: 138px;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  hr {
    border-top: 1px solid $settings-hr;

    &.divider {
      position: absolute;
      right: 0;
      top: -15px;
      height: 100%;
      border-top: none;
      border-left: 1px solid $settings-hr;
    }
  }

  #source, #camera {
    .modal-dialog {
      max-width: 650px;

      .modal-body {
        padding: 0 15px;
      }
    }
  }

  #source {
    .modal-dialog {
      margin-top: 7rem;
      max-width: 650px;

      .modal-content {
        background: $modal-bg;

        .modal-body {
          padding: 0 15px;

          .option {
            width: 100%;
            height: 200px;
            cursor: pointer;
            background: rgba(0, 0, 0, .6);

            &:first-of-type {
              border-right: 1px solid #000;
            }

            &:hover {
              background: rgba(0, 0, 0, .8);

              &:after {
                color: #FFF;
              }
            }

            &:after {
              content: attr(data-text);
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #EEE;
            }
          }
        }
      }
    }
  }

  #camera {
    .box {
      padding: 0;

      .picture-container {
        position: relative;

        .camera_stream {
          transform: rotateY(180deg);
          width: 100%;
          height: auto;
          display: block;
        }

        .preview {
          width: 100%;
          height: auto;
        }
      }
    }

    .buttonContainer {
      position: absolute;
      bottom: 0;
      left: 0;
      @media screen and (max-width: 500px) {
        position: relative;
        .btns {
          float: none !important;

          .btn {
            margin: 5px auto !important;
            display: block;
          }
        }
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle at center, transparent 60%, rgba(0, 0, 0, .3) 0) 50% 50%;
      background-size: 100% 100%;
    }
  }

  #groupsModal {
    .modal-body {
      table {
        tr.new {
          display: none;
        }

        td, th {
          vertical-align: middle;
          text-align: left;
        }
      }

      #createJoin {
        &:after {
          content: attr(data-join);
        }

        &.create {
          &:after {
            content: attr(data-new);
          }
        }

        &.loading {
          span {
            display: initial;
          }
        }

        span {
          display: none;
        }
      }
    }
  }
}